<a href="/admin/main" class="admin-page-link"><i class="fas fa-arrow-left"></i> Back to main page </a>

<div class="admin-page-title">
    CLV Information
</div>

<div class="admin-item-block">
    <div class="admin-item-block-hint">
        Premium CLV Amount
    </div>
    <div class="admin-item-block-value">
        <%= data.clvLeftAmount %> CLV
    </div>
</div>


<div class="admin-item-block">
    <div class="admin-item-block-hint">
        Premium CLV Sold
    </div>
    <div class="admin-item-block-value">
        <%= data.premiumClvSold %> CLV
    </div>
</div>


<div class="admin-item-block">
    <div class="admin-item-block-hint">
        Free CLV Given
    </div>
    <div class="admin-item-block-value">
        <%= data.freeClvGiven %> CLV
    </div>
</div>

<div class="admin-item-block">
    <div class="admin-item-block-hint">
        Referral Free CLV Given
    </div>
    <div class="admin-item-block-value">
        <%= data.referralClvEarned %> CLV
    </div>
</div>