<a href="/admin/info" class="admin-main-block">
    <div class="admin-main-block-icon">
        <i class="fas fa-coins"></i>
    </div>

    <div class="admin-main-block-title">
        CLV Information
    </div>
</a>


<a href="/admin/citizens" class="admin-main-block">
    <div class="admin-main-block-icon">
        <i class="fas fa-users"></i>
    </div>

    <div class="admin-main-block-title">
        Citizens
    </div>
</a>


<a href="/admin/transactions" class="admin-main-block">
    <div class="admin-main-block-icon">
        <i class="fas fa-align-left"></i>
    </div>

    <div class="admin-main-block-title">
        Transactions
    </div>
</a>

<a href="/admin/sellorders" class="admin-main-block">
    <div class="admin-main-block-icon">
        <i class="fas fa-angle-double-down"></i>
    </div>

    <div class="admin-main-block-title">
        Sell Orders
    </div>
</a>

<a href="/admin/withdrawrequests" class="admin-main-block">
    <div class="admin-main-block-icon">
        <i class="fas fa-money-bill-wave"></i>
    </div>

    <div class="admin-main-block-title">
        Withdraw Requests
    </div>
</a>


<a href="/admin/partyReferralCodes" class="admin-main-block">
    <div class="admin-main-block-icon">
        <i class="fas fa-random"></i>
    </div>

    <div class="admin-main-block-title">
        Split Referral Links
    </div>
</a>


<a href="/admin/clovercontrols" class="admin-main-block">
    <div class="admin-main-block-icon">
        <i class="fas fa-tools"></i>
    </div>

    <div class="admin-main-block-title">
        Clover Controls
    </div>
</a>


<a href="/" class="admin-main-block">
    <div class="admin-main-block-icon">
        <i class="fas fa-door-open"></i>
    </div>

    <div class="admin-main-block-title">
        Exit
    </div>
</a>