   <div class="citi-slide-1">
       <div class="citi-slide-1-inner inner">
           <div class="citi-slide-1-header-1">Clover Citizens</div>
           <div class="citi-slide-1-header-2">are real people</div>
           <div class="citi-slide-1-header-3">Entrepreneurs, teachers, doctors, programmers, cooks, firefighters, lawyers, traders, marketers, humanitarians, environmentalists. Me and you. All of us.</div>
<br>		<a href='https://www.youtube.com/playlist?list=PLSIvMVOmDWw07krUsam9o_cS2W6nINAX-' class='citi-youtube'>Watch Videos</a>
       </div>
   </div>
   
   
    <div class="citi-slide-2">
        <div class="citi-slide-2-inner inner">
            <div class="citi-slide-2-header-1">Why should I become<br>a citizen?</div>
           <div class="citi-slide-2-header-2">Clover's overarching policy is Citizens First.</div>
           
           
           
           <div class="citi-slide-2-text">
           To give yourself the choice of a self-made better life and to do good, better.<br><br>

We live in an increasingly uncertain and confused Post-COVID-19-World. 
<br><br>
We hope for the best but we are deeply affected by the consequences of social discrepancies, gender inequality, morality, environmental degradation and competing interests. Clover comes in the form of a social movement that aims to literally transform people's lives through technology, AI and blockchain innovations. 
<br><br>
It is a huge responsibility and a huge opportunity for me and you, and all of us. 
<br><br>
We can make prosperity a habit. Together. 
<br><br>
If you don't have a lifelong passive income, then you are in the trap of trading your hours for dollars; for the rest of your life.
<br><br>
There is a better way! There is Clover Country. 

           
            </div>
           
        </div>
    </div>
    
    
    
    
     
    <div class="citi-slide-3">
        <div class="citi-slide-3-inner inner">
           <div class="citi-slide-3-left">
            <div class="citi-slide-3-header-1">Clover <span class="orange">Country</span></div>
          
      
           
           <div class="citi-slide-3-text">
          is a social ecosystem for an equitable future, a country with no borders and a digital nation built for 100 million globally decentralized citizens. Its sole purpose is to democratize wealth and to empower its citizens to do good, better; by participating in Clover Country’s social impact initiatives of humanitarian, environment, digital health, digital education and charity. Clover Country is not a business or a corporate entity; and its singular focus is to transform people’s lives in an equitable future through technology, AI, and blockchain innovations.<br><br>
The entire governance of Clover Country is in the hands of its citizens.<br><br>
Citizenship is free.
           
            </div>
            
              
           </div>
           
           
           
           <div class="citi-slide-3-right">
               
               
               
                 <div class="citi-slide-4-header-1">Clover<span class="orange"> CLV</span> </div>
          
           
           
           <div class="citi-slide-4-text">
          is the official social impact currency of Clover Country. Only 100 Billion CLV are digitally-minted and will be equitably distributed to Clover citizens. 80% will be earmarked as Reserve CLV owned by Clover Trust, a globally distributed network of trusts and foundations; the de facto central bank. Reserve CLV sold from Clover Trust will be deployed to buy physical gold bullions, stored in private vaults in London, Switzerland and Singapore. Hence giving Clover Country a powerful leverage to maintain the price stability and the persistent appreciation in value of Clover CLV.<br><br>
Only Clover citizens can own/buy Clover CLV. Clover CLV aims to be the 21st-century store-of-value that is non-speculative and appreciates persistently for the benefit of Clover citizens.
            </div>
               
               
               
           </div>
           
        </div>
    </div>
    
    

  
   <div class="citi-slide-5">
        <div class="citi-slide-5-inner inner">
           
           
            <div class="citi-slide-5-header-1">CLV <span class="orange">Wallet</span></div>
          
           
           
           <div class="citi-slide-5-text">
        The CLV Wallet stores and controls the underlying conditions attached to all CLV.<br><br>
In order to self-regulate the demand and supply, all CLV are attached with 2 embedded conditions:<br><br>
1.<b>Lock-In Period of 3 months</b> for the Premium CLV that a citizen buys or earns. The Premium CLV can be sold only after the first 3 months of being credited.
The Free CLV that a citizen gets as a bonus has a Lock-In Period of 12 months.<br><br>
2.<b>Quantum Restriction in Selling of 10% per month.</b>
After the Lock-In Period, only 10% of a citizen’s CLV can be sold every month. It is optional, and a citizen can carry forward the 10% quota of a particular month to the following months.
           
            </div>
           
        </div>
    </div>
  
  
  <div class="citi-slide-6">
        <div class="citi-slide-6-inner inner">
            <div class="citi-slide-6-header-1">Clover <span class="orange">Marketplace</span></div>
          
           
           
           <div class="citi-slide-6-text">
       
          
The buying and selling of CLV/USD is quoted exclusively on Clover’s own digital asset exchange. The Clover Marketplace operates under license with the Estonian Financial Intelligence Unit.<br><br>

The Clover Marketplace is designed to operate under a novel and proprietary currency
 framework; the <b>Managed Fixed Exchange Rate System.</b><br><br>

Clover Treasury is the exclusive market-maker for CLV/USD; on a fixed rate basis.<br><br>

Sellers simply post their eligible CLV to sell at the rate quoted at Clover Marketplace.<br><br>

Clover Treasury will seek out potential buyers amongst its citizens, on a real time 24/7 and best effort basis, via an algorithm.<br><br>

The market-making algorithm is designed for price stability, market liquidity and the sustainable appreciation of CLV/USD; so as to achieve a targeted annual increase of 30% to 60% in value.
           
            </div>


<div class="citi-chart-title"> CLV/USD is projected to trade above $10.00 in 2025</div>

<img src="https://i.ibb.co/T82KMWH/2020-12-05-22-58-03.png" alt="2020-12-05-22-58-03" class='citi-chart'  border="0">

           
        </div>
    </div>
    
    
    
    
      <div class="citi-slide-7">
        <div class="citi-slide-7-inner inner">
            <div class="citi-slide-7-header-1">Buy <span class="orange">your CLV</span></div>
          
           
           
           <div class="clv-slide">

               <div class="clv-item">
                   <div class="clv-item-header">Starter</div>
                    <div class="clv-item-line"></div>
                    <div class="clv-item-price">10 CLV</div>
                     <div class="clv-item-hint">YOU WILL PAY</div>
                      <div class="clv-item-amount"> $<%= price10 %> </div>
                       <div class="clv-item-bonus">20% Bonus</div>
                        <a href="/wallet/create" class="clv-item-button">Buy now</a>
               </div>
               
               
               <div class="clv-item">
                   <div class="clv-item-header">Supporter</div>
                    <div class="clv-item-line"></div>
                    <div class="clv-item-price">50 CLV</div>
                     <div class="clv-item-hint">YOU WILL PAY</div>
                     <div class="clv-item-amount"> $<%= price50 %> </div>
                       <div class="clv-item-bonus">20% Bonus</div>
                       <a href="/wallet/create" class="clv-item-button">Buy now</a>
               </div>
               
               
               <div class="clv-item">
                   <div class="clv-item-header">Advocate</div>
                    <div class="clv-item-line"></div>
                    <div class="clv-item-price">250 CLV</div>
                     <div class="clv-item-hint">YOU WILL PAY</div>
                     <div class="clv-item-amount"> $<%= price250 %> </div>
                       <div class="clv-item-bonus">20% Bonus</div>
                       <a href="/wallet/create" class="clv-item-button">Buy now</a>
               </div>
               
               
               <div class="clv-item clv-item-4">
                   <div class="clv-item-header">Champion</div>
                    <div class="clv-item-line"></div>
                    <div class="clv-item-price">1000 CLV</div>
                     <div class="clv-item-hint">YOU WILL PAY</div>
                     <div class="clv-item-amount"> $<%= price1000 %> </div>
                       <div class="clv-item-bonus">20% Bonus</div>
                       <a href="/wallet/create" class="clv-item-button">Buy now</a>
               </div>
               
           </div>
           
        </div>
    </div>





      <div class="citi-slide-8">
        <div class="citi-slide-8-inner inner">
            <div class="citi-slide-8-header-1">Citizen <span class="orange">Affiliate Program</span></div>
          
           
           
           <div class="citi-slide-8-text">
       
       Every Citizen is automatically enrolled into the Citizen Affiliate Program. The referral code and link are found in the CLV Wallet (Referral). The commitment of Clover Country is to democratize wealth, build a stronger safety net and reduce social inequalities.
<br><br>The interlocking value proposition of the program is to incentivize and reward every citizen to actively help acquire and grow the citizenship of Clover Country to reach the targeted 100 million global citizens by 2030.
<br><br>This one-level affiliate program has the unique benefit of a lifelong payout. It is also the key driver to democratize wealth amongst the citizens; empowering each and every citizen to earn a lifelong universal passive income and build a post Covid-19 safety net.
<br><br><b>Introduce your friends;</b> so they become your Affiliates, perpetually.<br><br>-Your friends will get $5 of Free CLV, each, upon joining.
<br>-You will also be rewarded with $5 of Free CLV for every Affiliate. 

<br><br><b>You earn Affiliate Commissions;</b>  whenever your Affiliates buy CLV.<br><br>-10% Free CLV in the first year of your Affiliates joining
<br>-5% Free CLV in the second year and
<br>-2.5% Free CLV in the third year.
           
            </div>
           
        </div>
    </div>
    


    
    
