<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    

    <link rel="stylesheet" href="https://clovercountry.org/public/css/dashboard.css">

 

   

    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;500;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <title>Clover Country</title>
</head>

<body>


    <%- body %>


</body>

</html>