   <div class="faq-slide-1">
       <div class="faq-slide-1-inner inner">
          <div class="f-s-1-content">
           <div class="f-s-1-header">
            How can we help
           </div><br>
           <div class="f-s-1-text">
              
Below are the most frequently asked questions we receive. If you can’t find what you’re looking for, please don’t hesitate to contact us.
           </div>
           </div>
       </div>
   </div>
   
   <div class="faq-slide-2">
       <div class="faq-slide-2-inner inner">
           <div class="faq-header-1">Frequently Asked Questions</div>
           
           
           <div class="faq-header-2">Is Clover Country on social media?</div>
         
           <div class="faq-text">Yes it is. Do check out our <a href='https://www.youtube.com/playlist?list=PLSIvMVOmDWw07krUsam9o_cS2W6nINAX-'> YouTube channel</a> and like some of our explainer videos.
<br><br>
Please also subscribe/follow us on:<br>
<a href='https://www.facebook.com/cloverdigitalnation'>Facebook</a>
<br><a href='https://twitter.com/CloverChief'>Twitter</a>
<br><a href='https://www.linkedin.com/company/cloverdigitalnation'>LinkedIn</a>
<br><br>
Our latest press release is <a href='https://www.einpresswire.com/article/531735400/clover-country-announces-the-launch-of-a-social-ecosystem-for-an-equitable- future'>here</a>.
</div>
           


<div class="faq-header-2">What is Clover Country? I heard it is not a company?</div>


           <div class="faq-text">


Yes. Clover Country is not a company or a business entity. It has no shareholders, no investors and no management teams.<br><br>
Clover comes in the form of a social movement that aims to literally transform people's lives through technology, blockchain and AI innovations.<br><br>
Clover Country is a social ecosystem, a virtual country with no borders and a digital nation; open and accessible to all people of the world.<br><br>
The entire governance of Clover Country will be decided by Clover citizens via a system of equitable voting rights on blockchain.<br><br>
We live in an increasingly uncertain and confused world. We hope for the best but we are affected by the consequences of social discrepancies, rich and poor, morality and interest.<br><br>

Clover Country is a huge responsibility and a huge opportunity.
<br><br>

We make prosperity a habit. Together.

</div>



<div class="faq-header-2">How many citizens are there in Clover Country?
<br>I heard that citizenship is FREE? How do I sign up?</div>

         
           <div class="faq-text">
Yes, Clover citizenship is free. Only 100 million globally decentralized citizens can join Clover Country and participate in its social impact initiatives of humanitarian, environment, digital health, digital education and charity.<br><br>
Clover Country is a social impact digital nation, by the citizens for the citizens.<br><br>

We hope Clover's  vision and mission resonater with you. You may join and sign up at <a href='https://clovercountry.org/wallet/create/?referral=G75GXQ'> this link</a>.
<br><br>
Signing up is quick and easy. We need only your name, email, mobile phone and gender. Yes, gender is necessary because we are commited to ensure that at least 50% of our citizens are women! Do note that your username cannot be changed after confirmation.
<br><br>
Once you sign up, a personal CLV Wallet is opened for you and you will be gifted with $5 worth of CLV at the current CLV/USD exchange rate which can be found at <a href='https://clovercountry.org/statistics'> this link</a>.
<br><br>
Clover CLV is the social impact currency (digital token) of Clover Country.
<br><br>
At the same time, $5 worth of CLV will be credited to the Agape Wallet, managed by Clover Country, earmarked for its social impact initiatives.
<br><br>
At Clover Country, we are always Citizens First.


</div>


<div class="faq-header-2">Who founded Clover Country? And why?</div>

           <div class="faq-text">The founder of Clover Country is <a href='https://www.linkedin.com/in/chief-patrick-269972177/'>Chief Patrick</a>

<br><br>
"Every story begins with once upon a time. The Clover story begins with once upon a future"  said the founder. "Our strength, as humans, has always been our ability to collaborate."
<br><br>

"People have survived throughout history due to their ability to work together, to find new ways to evolve. This has kept us at the top of the food chain since ancient times."
<br><br>

"Evolving is what we must keep on doing. Clover Country is the next step in human evolution."
<br><br>
"Policies, frontiers, currencies, cultural differences, language boundaries are elements of our present global society; which prevent us, individuals of the world, to prosper together beyond conventional limits."
<br><br>

"On the other hand, technologies such as blockchain and artificial intelligence allow us now more than ever to surpass these traditional borders. Finding common ground with fellow humans around the world has never been easier."
<br><br>

"However, the mass adoption of digitalization has made it accessible for people to make changes, and not always for the higher purpose. For the past couple of decades, technology has been mainly used for personal evolution."
<br><br>

"It is time now to use technology for the evolution of the human species – 7.8 billion people and 195 nations will become one. One digital society. One nation. One country. CLOVER."
<br><br>


"We believe in an equitable and sustainable world, where well-being, freedom, equality, collaboration and stability are the 21st century pillars of prosperity."
<br><br>

"The singular purpose of Clover Country is to offer everyone the opportunity to change the look of the future; an equitable future."
<br><br>





</div>
           
           
           
           
           



<div class="faq-header-2">What is Clover CLV? How does it work?</div>

           <div class="faq-text">
	The future of currency is Clover CLV.
<br><br>

Clover CLV is the official social impact currency (digital token) of Clover Country.
<br><br>

Only 100 billion CLV are digitally-minted and will be distributed to Clover citizens in an equitable manner.

<br><br>

Every time you buy Clover CLV, Clover Country will donate up to 20% in Free CLV to social impact initiatives where you can choose or nominate as the beneficiaries; such as:<br>
<a href='www.charitywater.org'>charitywater.org</a> - On a mission to end water crisis in our lifetime.
<br>
<a href='www.mittikerang.org'>mittikerang.org</a> - Working towards women empowerment.
<br>
<a href='www.Ark2030.org'>Ark2030.org</a> - Join the Race to Net Zero.
<br><br>

You can also use your Clover CLV to contribute to the five social impact initiatives of Clover Country: humanitarian, environment, digital healthcare, digital education and charity. Yes, time to do good, better.

<br><br>

The more Clover CLV you have, the greater your impact on an equitable future!

<br><br>

Clover CLV can only be bought, earned, gifted and owned by the 100 million global citizens of Clover Country.

<br><br>

You can also sell your Clover CLV at the Clover Marketplace.

<br><br>

Clover CLV aims to be the 21st century store-of-value that is non-speculative and appreciates persistently for the benefit of Clover citizens.

<br><br>

You have the opportunity to improve your life while helping others to live in clover.

<br><br>

In Clover Country, you better yourself by lifting others.


</div>









<div class="faq-header-2">What is the CLV Wallet?</div>

           <div class="faq-text">

The CLV Wallet stores all your CLV and controls the conditions attached to them.

<br><br>

In order to self regulate the demand and supply of this social impact currency, and to defang speculation within the CLV ecosystem; all CLV are attached with 2 embedded conditions:

<br><br>

1. Lock-In Period of 3 months for Premium CLV that you buy or earn.
The Premium CLV can only be sold 3 months after being credited into your CLV Wallet. The Free CLV that you get as a bonus has a Lock-In Period of 12 months.
<br><br>
2. Quantum Restriction in Selling (10% per month) -After the Lock-In Period,
only 10% of a citizen’s CLV can be sold every month. It is optional, and you can
carry forward the 10% quota of a particular month to the following months.


</div>








<div class="faq-header-2">What is the Clover Marketplace? How does it work?</div>

           <div class="faq-text">


The buying and selling of CLV, in exchange of traditional fiat currencies, is quoted exclusively on Clover’s own digital asset exchange, the Clover Marketplace; designed for price stability, market liquidity and sustainable appreciation of CLV.
<br><br>
Exchange rate regimes of all fiat currencies of sovereign nations generally fall into three categories: fixed, floating, and managed float. However, Clover CLV is designed to operate under a novel and proprietary currency framework i.e. the "Managed Fixed Exchange Rate Regime".

<br><br>
Clover Treasury is the exclusive market-maker for CLV at the Clover Marketplace; on a dynamic fixed rate basis.
<br><br>
Sellers simply post their eligible CLV to sell at the Clover Marketplace.
<br><br>
Clover Treasury will seek out potential buyers on a real time 24/7 and best effort basis, via an algorithm.
<br><br>
Attractive bonuses in Free CLV may be offered to targeted buyers so as to incentivize them to buy at the price that the sellers had posted.

<br><br>
This will effectively offer the buyer a ‘discount’ from the seller’s desired price; internally funded by the Free CLV from Clover Treasury.
<br><br>
Indeed a novel and proprietary modus operandi to distribute equitably the digitally- minted 100 billion CLV amongst Clover citizens.
<br><br>
When there are no more sellers, the CLV/USD price can be fixed higher by Clover Treasury. However, when sellers are significantly more than buyers at any point in time, the CLV/USD price may be fixed lower. Clover Treasury dynamically manages the CLV/USD price between buyers and sellers within a pre-determined trading band.
<br><br>
The market-making algorithm is based on a complex ‘actuarial pricing model’ of the Fibonacci Number Sequence; so as to achieve a sustainable and targeted annual CLV/USD appreciation of 30% to 60%, i.e. an average gain of 3% to 5% per month.

<br><br><br>
CLV/USD is projected to trade above $10.00 by 2025.

<img src="https://i.ibb.co/T82KMWH/2020-12-05-22-58-03.png" alt="2020-12-05-22-58-03" class="citi-chart" border="0">








</div>







<div class="faq-header-2">Is the CLV Wallet and Clover Marketplace regulated?</div>

           <div class="faq-text">Yes. PAYPRO OÜ (Registry code 14725474) is a private limited liability company incorporated in Estonia. The registered address is Harju maakond, Tallinn, Lasnamäe linnaosa, Peterburi tee 47, 11415, Estonia.
<br><br>

PAYPRO OU  holds two operating licenses with the Estonian Financial Intelligence Unit. License Number FVR001060 is for providing services to exchange virtual currencies against fiat currencies (to operate the Clover Marketplace) and License Number FRK000951 is for providing a virtual currency wallet service (to operate the CLV Wallet).

<br><br>

The CLV Wallet and Clover Marketplace are managed by PAYPRO OÜ, hosted on the <a href='https://clovercountry.org.'> website url</a>.



</div>






<div class="faq-header-2">What is Clover Trust?
How is it the de-facto central bank?</div>

           <div class="faq-text">


A strong and stable currency is one of the foundations of a strong nation.
<br><br>
When a country's currency is strong, its value is considerably worth more and you could, therefore, do more; like investing in the 5 social impact initiatives of Clover Country: humanitarian, environment, digital healthcare, digital education and charity. Clover CLV is the official social impact currency (digital token) of Clover Country.
<br><br>
The stability and strength of Clover CLV is made possible by Clover Trust. Its sole purpose is to ensure currency stability and the persistent appreciation of Clover CLV as a store-of-value, for the benefit of Clover citizens.
<br><br>
Hence, an anchor of stability for Clover Country to be a social ecosystem.
<br><br>
Clover Trust is a globally distributed network of trusts, foundations, special purpose vehicles and custodians; across multiple jurisdictions. Collectively, Clover Trust acts as the de-facto central bank for Clover CLV.

<br><br>
Only 100 billion CLV are digitally-minted at a par value of US$1.00 each.
<br><br>
Out of which, 80% are earmarked as Reserve-CLV. The sales proceeds will be invested in physical gold bullion, stored in private vaults in London, Switzerland and Singapore.
<br><br>
All Reserve-CLV are owned by Clover Trust. It also acts as the de-facto sovereign wealth fund. The reserve assets may also be leveraged upon to support and regulate the market-making operations of CLV/USD at the Clover Marketplace.
<br><br>
To prevent price spikes in periods of buying frenzy, the 80 billion CLV in reserve assets can be drawn upon to sell; as part of market intervention operations. The sales proceeds will be fully deployed to buy physical gold bullion.
<br><br>
In periods where there are significantly more sellers of CLV than buyers at the Clover Marketplace, despite allowing for reasonable retracements in the price of CLV/USD; the reserve assets in physical gold bullion can be leveraged upon for market intervention operations to buy-back CLV at various strategic support levels.
<br><br>
Hence the CLV/USD exchange rate is relatively controllable by Clover Trust through direct market interventions at the Clover Marketplace.
<br><br>

Clover CLV is designed to operate under a novel and proprietary currency framework, the "Managed Fixed Exchange Rate Regime". The market-making algorithm is based on a complex ‘actuarial pricing model’ of the Fibonacci Number Sequence. This is aimed at achieving a stable, persistent and targeted currency appreciation for CLV/USD of 30% to 60% annually, i.e. an average of 3% to 5% per
month.
<br><br>
The managed fixed exchange rate regime allows CLV/USD to fluctuate within a pre- determined trading band. This provides a mechanism to accommodate short-term fluctuations in the demand and supply of CLV at the Clover Marketplace. This permits flexibility in managing the CLV/USD exchange rate. The trading band also minimizes the need for constant market interventions.
<br><br>
Clover Trust and the managed fixed exchange rate regime are designed together to provide an anchor of stability for Clover Country to be a social ecosystem. The aim is to transform its citizens’ lives in an equitable future through technology, AI and blockchain innovations.

<br><br>
The effectiveness of the currency framework will underpin confidence in Clover CLV
as the social impact currency. The aim is to become the 21st century store-of- value for Clover citizens to build a post Covid-19 safety net.




</div>






<div class="faq-header-2">Is the price of Clover CLV certain to rise?</div>

           <div class="faq-text">


Like any other digital assets and traditional fiat currencies, the price of CLV/USD may rise and may fall at any given period in time.
<br><br>
But with good governance, discipline and management of its ecosystem and strong reserves, Clover CLV is set to be the 21st century store-of-value.

</div>








<div class="faq-header-2">How does Clover Country democratize wealth? And what is the Citizen Affiliate Program?
</div>

           <div class="faq-text">

The Citizen Affiliate Program is the key driver to empower every citizen to help Clover Country grow to 100 million globally decentralised citizens, via social media and word of mouth.
<br><br>
Every citizen is automatically enrolled into the Citizen Affiliate Program. The referral code and referral link are found in the CLV Wallet (Referral). Citizens earn Introducing and Affiliate Commissions. The commitment of Clover Country is to democratize wealth, build a stronger safety net and reduce social inequalities.
<br><br>
The interlocking value proposition of the citizen affiliate program is to incentivize and reward every citizen to actively help acquire and grow the citizenship of Clover Country to reach the targeted 100 million global citizens by 2030.

<br><br>

This one-level affiliate program has the unique benefit of a lifelong payout. It is also the key driver to democratize wealth amongst the citizens; empowering each and every citizen to earn a lifelong universal passive income and build a post Covid-19 safety net.
<br><br><br>
Introduce your friends; so they become your Affiliates, perpetually.
<br><br>
-Your friends will get $5 of Free CLV, each, upon joining via your referral link/code.
<br>
-You will also be rewarded with $5 of Free CLV for every Affiliate that you introduce.
<br><br>
You also earn Affiliate Commissions; whenever your Affiliates buy CLV.
<br><br>
-10% Free CLV in the first year of your Affiliates joining as a citizen;
<br>
-5% Free CLV in the second year
<br>
-2.5% Free CLV in the third year
<br>
-from the fourth year onwards, only citizens who achieve the required performance targets will continue to earn a lifelong passive income.


</div>







<div class="faq-header-2"></div>

           <div class="faq-text"></div>






<div class="faq-header-2"></div>

           <div class="faq-text"></div>





           
    
           

       </div>
   </div>
   
 
