    <div class="slide-1 slide">
        
        
       
     <div class="slide-1-left"></div>
           <div class="slide-1-right"></div>

        <div class="slide-1-overflow">
            <div class="slide-1-inner inner">
  
                <div class="slide-1-inner-text">
                    <div class="slide-1-inner-text-header-1">Clover<br>Country</div>
                    <div class="slide-1-inner-text-header-2">next step in human evolution</div>
                   
                  
                    
                     <div class="slide-1-inner-text-content">Our strength, as humans, has always been our ability to collaborate. People have survived throughout history due to their ability to work together, to find new ways to evolve. This has kept us at the top of the food chain since ancient times. 
</div>
               
               <a onclick="playVideo()" class="slide-1-inner-text-button-a">Clover Story</a>
                
                </div>
                
                
                   
            </div>
        </div>
        
        
        
        
        
        
        
        
    </div>
    
    

   
    <div class="slide-0-2">
           
   <div class="inner">


    <iframe id="i-video"  src="https://www.youtube.com/embed/R6ti_sb5N0k" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


       
    </div>
    </div>

    
    <div class="slide-2 slide">
        <div class="slide-2-inner inner">
            <div class="slide-2-header-1">
                The world of insecurites
            </div>
            <div class="slide-2-header-2">
                is over 
            </div>
            <div class="slide-2-content">
                <div class="slide-2-content-left">
                    <div class="slide-2-content-item">
                        <div class="slide-2-content-item-header">
                            <div class="slide-2-content-item-header-digit">01 •</div>
                            <div class="slide-2-content-item-header-text">limits</div>
                        </div>
                        
                        <div class="slide-2-content-item-text">Policies, frontiers, currencies, cultural differences, language boundaries are elements of our present global society which prevent us, individuals of the world, to prosper together beyond conventional limits.</div>
                    </div>
                    
                    
                             
                         <div class="slide-2-content-item">
                        <div class="slide-2-content-item-header">
                            <div class="slide-2-content-item-header-digit">02 •</div>
                            <div class="slide-2-content-item-header-text">evolution</div>
                        </div>
                        
                        <div class="slide-2-content-item-text">However, the mass adoption of digitalization has made it accessible for people to make changes, and not always for the higher purpose. For the past decades,  technology has been mainly used for personal evolution.</div>
                    </div>
                    
                    
                 
                    
                </div>
                <div class="slide-2-content-right">
                        
               
                      
                    <div class="slide-2-content-item">
                        <div class="slide-2-content-item-header">
                            <div class="slide-2-content-item-header-digit">03 •</div>
                            <div class="slide-2-content-item-header-text">blockchain</div>
                        </div>
                        
                        <div class="slide-2-content-item-text">On the other hand, technologies such as blockchain allow us now more than ever to surpass these traditional borders. Finding common ground with fellow humans around the world has never been easier.</div>
                    </div>
                    
                    
                      <div class="slide-2-content-item">
                        <div class="slide-2-content-item-header">
                            <div class="slide-2-content-item-header-digit">04 •</div>
                            <div class="slide-2-content-item-header-text">society</div>
                        </div>
                        
                        <div class="slide-2-content-item-text">It is now time to use technology for the evolution of the human species — 7 billion people and 200 nations will become one.
One digital society. One nation. One country.
Clover.</div>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
    
       <div class="slide-3 slide">
        
      
        <div class="slide-3-inner inner">
          
          
            <div class="slide-3-inner-left">
                <div class="slide-3-inner-header">Vision</div>
                <div class="slide-3-inner-text">To be the next step in humankind evolution through technology, AI
and blockchain innovations.</div>
            </div>
            <div class="slide-3-inner-right">
                <div class="slide-3-inner-header">Mission</div>
                <div class="slide-3-inner-text">To become the globally accepted  method of creating, exchanging and storing value through a trusted virtual country designed to empower people to live in Clover and to do good, better.</div>
            </div>
        </div>
       
    </div>
 
     
    
    
    
         <div class="slide-4 slide">
        <div class="slide-4-inner inner">
            <div class="slide-4-header-1">
                Welcome to
            </div>
            <div class="slide-4-header-2">
               Clover Country!
            </div>
            
            <div class="slide-4-text">
                We believe in a sustainable world, where well-being, freedom, equality, collaboration and stability are the pillars of prosperity.<br><br>
We were lucky enough to be born in an age when everything is possible.

            </div>
            
            
            
            <div class="slide-4-items">
                <div class="slide-4-item">
                    <div class="slide-4-item-icon"><i class="fas fa-cloud-moon"></i>•</div>
                    <div class="slide-4-item-text">The dreams of your generation, become a reality.</div>
                </div>
                
                <div class="slide-4-item">
                    <div class="slide-4-item-icon"><i class="fas fa-link"></i></div>
                    <div class="slide-4-item-text">A country built on blockchain and powered by AI.</div>
                </div>
                
                
                <div class="slide-4-item">
                    <div class="slide-4-item-icon"><i class="fas fa-globe-asia"></i></div>
                    <div class="slide-4-item-text">A decentralized digital nation designed to do good, better. </div>
                </div>
                
                
                <div class="slide-4-item">
                    <div class="slide-4-item-icon"><i class="fas fa-users"></i></div>
                    <div class="slide-4-item-text">A way to ensure your family a carefree and stable life. </div>
                </div>
                
                
                
                <div class="slide-4-item">
                    <div class="slide-4-item-icon"><i class="fas fa-money-bill-wave"></i></div>
                    <div class="slide-4-item-text">A platform to earn a life-long passive income.</div>
                </div>
                
                
                
                <div class="slide-4-item">
                    <div class="slide-4-item-icon"><i class="fas fa-hands-helping"></i></div>
                    <div class="slide-4-item-text">A place to evolve together and individually.</div>
                </div>
            </div>
            
            
            
           
               
        </div>
    </div>
    
 
    
    

        
      
     <div class="slide-0 slide">
        <div class="slide-0-inner inner">
    
            <div class="slide-0-header">
                What is Clover and how does it work?
            </div>
           
            <div class="slide-0-text-1">
                Clover is a virtual country open and accessible to all people of the world. Its main goal is to become a social movement that transforms people’s lives by providing a safe and stable online environment to create, exchange and store value.
            </div>
            
            
             <div class="slide-0-text-2">
                Clover higher purpose is to democratize wealth and empower its citizens to earn a lifelong passive income and also, the opportunity to invest in humanitarian, healthcare, educational, environmental and charitable initiatives.
            </div>
            
            
       
        
        </div>
    </div>
    
    
    
    
        <div class="slide-5 slide">
        
            <div class="slide-5-header-1">You have the power<br>to start your own</div>
            <div class="slide-5-header-2">Carefree Life!</div>
            <a href="/wallet/create" class="slide-5-button">Become a Citizen</a>
     
    </div>
    
    
    
    
    
