<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VHLFCTRDGY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VHLFCTRDGY');
</script>



    <link rel="stylesheet" href="https://clovercountry.org/public/css/styles.css">


    <link rel="stylesheet" href="https://clovercountry.org/public/css/fonts.css">


    <link rel="stylesheet" href="https://clovercountry.org/public/css/mobile.css">


    





    <script src="https://clovercountry.org/public/assets/menu.js"></script>


    <script src="https://kit.fontawesome.com/1c70985fd5.js" crossorigin="anonymous"></script>
    <title>Clover Country</title>
</head>
<body>
   
   <div class="header-mobile">
       <div class="header-mobile-inner">
          <a class="header-mobile-logo" href="https://clovercountry.org/"></a>
           <div onclick="toggleMenu()" class="header-mobile-menu-button"><i class="fas fa-bars"></i></div>
           
       </div>
       
       <div id="h-m-m" class="header-mobile-menu">
               <div class="header-mobile-menu-item"><a href="/">Discover</a></div>
               <div class="header-mobile-menu-item"><a href="/mission">Mission</a></div>
               <div class="header-mobile-menu-item"><a href="/citizenship">Citizenship</a></div>
                <div class="header-mobile-menu-item"><a href="/faq">FAQ</a></div>
                <div class="header-mobile-menu-item"><a href="/contact">Contact</a></div>
                <div class="header-mobile-menu-item"><a href="/marketplace">Marketplace</a></div>
                <div class="header-mobile-menu-item"><a class="mobile-apply" href="/dashboard">ACCOUNT</a></div>
                  <div class="header-mobile-menu-item"><a class="mobile-apply" href="/wallet/create">BECOME A CITIZEN</a></div>
                
               
           </div>
   </div>
   
   
   
    <div class="header-part">
       <div class="header-inner inner">
        <a class="header-logo" href="https://clovercountry.org/"></a>
           <div class="header-menu">
               <div class="header-menu-item"><a href="/">Discover</a></div>
               <div class="header-menu-item"><a href="/mission">Mission</a></div>
               <div class="header-menu-item"><a href="/citizenship">Citizenship</a></div>
                    <div class="header-menu-item"><a href="/faq">FAQ</a></div>
                    <div class="header-menu-item"><a href="/contact">Contact</a></div>
                    <div class="header-menu-item"><a href="/marketplace">Marketplace</a></div>
                    <div class="header-menu-item"><a class="apply-button" href="/dashboard">ACCOUNT</a></div>
               <div class="header-menu-item"><a class="apply-button apply-button-2" href="/wallet/create">BECOME A CITIZEN</a></div>
             
           </div>
       </div>
   </div>
    




        <%- body %>






    <div class="footer">
        <div class="footer-inner inner">
            <div class="footer-logo"></div>
            <div class="footer-items">
                <div class="footer-item">
                    <div class="footer-item-icon"><i class="fas fa-rocket"></i></div>
                    <div class="footer-item-header">Mission</div>
                    <div class="footer-item-text">To change the look of the future.</div>
                    <a href="/mission" class="footer-item-link">Learn more →</a>
                </div>
                <div class="footer-item">
                    <div class="footer-item-icon"><i class="fas fa-user-friends"></i></div>
                     <div class="footer-item-header">Citizenship</div>
                      <div class="footer-item-text">Learn all about how you can become a citizen.</div>
                    <a href="/citizenship" class="footer-item-link">Learn more →</a>
                </div>
                <div class="footer-item">
                    <div class="footer-item-icon"><i class="fas fa-comment-alt"></i></div>
                     <div class="footer-item-header">FAQ</div>
                    <div class="footer-item-text">Frequently asked questions about Clover.</div>
                    <a href="/faq" class="footer-item-link">Read →</a>
                </div>
               
            </div>
            
            <div class="footer-copyright">
                © 2019 - 2020 PAYPRO OÜ (Estonia Registry No. 14725474). All Rights Reserved.
            </div>
        </div>
    </div>
