<div class="left-part">



    <div class="lp-menu">

        <a href="/dashboard" class="lpm-item">
            <div class="lpmi-icon"><i class="fas fa-chart-pie"></i></div>
            <div class="lpmi-text">Dashboard</div>
        </a>

        <a href="/marketplace/buy" class="lpm-item">
            <div class="lpmi-icon"><i class="fas fa-arrow-circle-up"></i></div>
            <div class="lpmi-text">Buy CLV</div>
        </a>

        <a href="/marketplace/sell" class="lpm-item">
            <div class="lpmi-icon"><i class="fas fa-arrow-circle-down"></i></div>
            <div class="lpmi-text">Sell CLV</div>
        </a>

        <a href="/transactions" class="lpm-item">
            <div class="lpmi-icon"><i class="fas fa-history"></i></div>
            <div class="lpmi-text">Transactions</div>
        </a>

        <a href="/referral" class="lpm-item">
            <div class="lpmi-icon"><i class="fas fa-user-plus"></i></div>
            <div class="lpmi-text">Referrals</div>
        </a>


        <a href="/wallet/logout" class="lpm-item">
            <div class="lpmi-icon"><i class="fas fa-sign-out-alt"></i></div>
            <div class="lpmi-text">Sign out</div>
        </a>

    </div>

</div>

<div class="main-part-wrapper">
    <div class="main-part">


        <div class="mp-top-bar">

            <a href="#" class="ptb-item-logo">&nbsp;</a>
            <div class="ptb-item ptb-item-selected">Clover Marketplace</div>
        </div>
    
        <div class="mp-spacer"></div>

    


        <div class="sellSuccessBox">
            <div class="sellSuccessBoxIcon"><i class="fas fa-check"></i></div>
            <div class="sellSuccessBoxText">Sell Order has been successfully placed!</div>
            <a href="/marketplace/sell" class="sellSuccessLink">Return to Marketplace</a>
        </div>

       


        

    </div>
    </div>
</div>



