   <div class="mission-slide">
       <div class="mission-slide-inner inner">
           <div class="mission-header-1">This is your opportunity to change the look of the future</div>
           <div class="mission-header-2">We work towards creating a better future for those with a drive to make the best of every opportunity given.
            </div>
            <a href="/wallet/create" class="mission-button">Start today</a>
       </div>
   </div>
   
   
   <div class="mission-slide-item msi-1">
      
       <div class="mission-slide-block">
                <div class="mission-slide-block-content">
               <div class="mission-slide-block-content-header">
                   Humanitarian
               </div>
                <div class="mission-slide-block-content-subheader">
                   Humanity is worth evolving for...
               </div>
               
               <div class="mission-slide-block-content-text">
                   We believe that people rise by lifting others.
We encourage our citizens to actively engage in the support and promotion of human welfare, by designing various possibilities to do good.
Clover's humanitarian mission is to relieve suffering and maintain human dignity.
               </div>
               </div>
           
       </div>
   </div>
   
   
   
   
   
   
   
     <div class="mission-slide-item msi-2">
       <div class="mission-slide-block">
                <div class="mission-slide-block-content">
               <div class="mission-slide-block-content-header">
                   Environment
               </div>
                <div class="mission-slide-block-content-subheader">
                   The planet is worth evolving for...
               </div>
               
               <div class="mission-slide-block-content-text">
                  We are at a point in time where the well-being of our planet and that of future generations is no longer a given fact. We have the obligation to engage in actions that optimise the usage of natural resources. Clover provides you with the opportunity to invest in initiatives that contribute to the reduction of environmental issues, and thus, to the conservation of our planet for the present and future generations.
               </div>
               </div>
           
       </div>
   </div>
   
   
     <div class="mission-slide-item msi-3">
       <div class="mission-slide-block">
                <div class="mission-slide-block-content">
               <div class="mission-slide-block-content-header">
                   Digital Healthcare
               </div>
                <div class="mission-slide-block-content-subheader">
                   Healthcare is worth evolving for...
               </div>
               
               <div class="mission-slide-block-content-text">
                   Through technology, we aim to transform concepts such as wearable gadgets, ingestible sensors, mobile health apps, artificial intelligence, robotic carers
or electronic records into the best way of taking care of oneself. Health is no longer a privilege of the wealthy, but a human right of everyone.
               </div>
               </div>
           
       </div>
   </div>
   
   
   
   
   
     <div class="mission-slide-item msi-4">
       <div class="mission-slide-block">
                <div class="mission-slide-block-content">
               <div class="mission-slide-block-content-header">
                   Digital Education
               </div>
                <div class="mission-slide-block-content-subheader">
                   Education is worth evolving for...
               </div>
               
               <div class="mission-slide-block-content-text">
                   Education and lifelong learning of digital skills is the paramount action that society can engage in, in order to eliminate corruption, inequalities, unemployment, and environmental problems. Clover gives you the chance to invest in education and to build, together with other citizens, the foundation for a better world.
               </div>
               </div>
           
       </div>
   </div>
   
   
   <div class="mission-slide-item msi-5">
       <div class="mission-slide-block">
                <div class="mission-slide-block-content">
               <div class="mission-slide-block-content-header">
                   Charitable Initiatives
               </div>
                <div class="mission-slide-block-content-subheader">
                   Kindness is worth evolving for...
               </div>
               
               <div class="mission-slide-block-content-text">
                   Giving back not only helps the one in need but it can be deeply rewarding for the one giving. By becoming a Clover citizen, you'll be able to support the causes
you believe in by directing parts of your lifelong passive income to special causes. Time to do good, better; and to live in clover.
               </div>
               </div>
           
       </div>
   </div>
   
   
   
       
   