* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
}

div {
    display: inline-block;
}

body {
    font-family: 'Poppins', sans-serif;
}

.admin-fullpage {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background: white;
    
}

.admin-wrapper {
    width: 95%;
    padding: 10px;
}

.admin-header{
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    text-align: center;
}

.admin-logo{
    width: 100%;
    height: 40px;
    background-image: url(../img/logo.png);
    background-size: auto 36px;
    background-position: center;
    background-repeat: no-repeat;
}

.admin-logo-text{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 18px;
}


.admin-main-block{
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    cursor: pointer;
    display: inline-block;
    padding: 20px;
    width: 100%;
    max-width: 250px;
    height: 180px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    background: linear-gradient(135deg,  rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.2) 100%);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    
}

.admin-main-block:hover{
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: linear-gradient(135deg,  rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.admin-main-block-icon{
    font-size: 60px;
    width: 100%;
    height: 100px;
    line-height: 100px;
    color: rgba(0, 0, 0, 0.2);
}

.admin-main-block-title{
    color: rgba(0, 0, 0, 0.55);
    font-weight: 500;
    width: 100%;
    font-size: 20px;
    margin-top: 5px;
}

.admin-page-title{
    padding-bottom: 30px;
    width: 100%;
    font-size: 32px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.75);
}

.admin-page-title-2{
    padding-bottom: 10px;
    padding-top: 30px;
    width: 100%;
    font-size: 24px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
}

.admin-page-link{
    color: #ffb641;
    display: inline-block;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
}

.admin-page-link-2{
    letter-spacing: 0.3px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.075);
    color: rgba(0, 0, 0, 0.5);
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    width: auto;
}

.admin-sort-wrapper{
    width: 100%;
}

.admin-page-link i{
    text-decoration: underline;
    font-size: 12px;
}

.admin-item-block{
    overflow: hidden;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 15px;
    display: inline-block;
    padding: 20px;
    height: 85px;
    width: 100%;
    max-width: 270px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    background: linear-gradient(135deg,  rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.4) 100%);

    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

.admin-item-block{
    height: auto;
}


.admin-item-block-hint{
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.admin-item-block-field{
    font-weight: 600;
    margin-top: 5px;
    text-align: center;
    font-size: 18px;
    outline: none;
    width: 90%;
    height: 32px;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.075);
}

.admin-item-block-button{
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
    font-size: 15px;
    outline: none;
    width: 90%;
    height: 38px;
    border: none;
    border-radius: 10px;
    background-color:  #ffb641;;

    color: rgba(0, 0, 0, 0.5);
}

.admin-item-block-value{
    overflow: hidden;
    width: 100%;
    height: 25px;
    font-size: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.75);
}

.admin-citizens-top-wrapper{
    width: 100%;
    margin-bottom: 20px;
}

.admin-citizen-item{
    padding: 5px;
    text-align: left;
    display: inline-block;
    overflow: hidden;
    
    cursor: pointer;
    display: inline-block;
    width: 100%;
    
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    background: linear-gradient(135deg,  rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.4) 100%);

    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

.admin-citizen-item-id{
    vertical-align: top;
    border-radius: 15px;
    text-align: center;
    width: 120px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    font-weight: 900;
    background-color: #ffb845;
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.3);
}

.admin-citizen-item-icon{
    vertical-align: top;
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.3);
}

.admin-citizen-item-lastname{
      padding-left: 0px;
      padding-right: 10px;
      vertical-align: top;
      border-radius: 15px;
      text-align: left;
      height: 40px;
      font-size: 16px;
      line-height:40px;
      font-weight: 600;
     
      color: rgba(0, 0, 0, 0.3);
      text-overflow: ellipsis;
      overflow: hidden; 
}

.admin-citizen-item-firstname{
    text-overflow: ellipsis;
    overflow: hidden; 
    padding-left: 10px;
    padding-right: 5px;
    vertical-align: top;
    border-radius: 15px;
    text-align: left;
    height: 40px;
    font-size: 16px;
    line-height:40px;
    font-weight: 600;
    
    color: rgba(0, 0, 0, 0.6);
}

.admin-citizen-item-email{
    text-overflow: ellipsis;
  overflow: hidden; 
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: top;
    border-radius: 15px;
    text-align: left;
    width: 260px;
    height: 40px;
    font-size: 14px;
    line-height: 36px;
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
    color: rgba(0, 0, 0, 0.3);
}

.admin-profile-page-icon-wrapper{
    width: 100%;
    text-align: center;
}

.admin-profile-page-icon{
    width: 200px;
    height: 200px;
    line-height: 200px;
    font-size: 80px;
    border-radius: 50%;
    color: rgba(0, 0, 0, 0.075);
    border: 1px solid rgba(0, 0, 0, 0.075);
}

.admin-profile-page-name{
    margin-top: 20px;
    width: 100%;
    font-size: 32px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.75);
}

.admin-profile-page-email{
    margin-top: 15px;
    width: 100%;
    color: #ffb641;
}

.admin-profile-page-date{
    width: 100%;
    margin-top: 5px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.55);
}

.admin-profile-page-items-wrapper{
    margin-top: 30px;
    width: 100%;
}

.admin-new-transactions-list, .admin-new-sell-orders-list, .admin-new-withdrawals-list{
    width: 100%;
}

.admin-new-transactions-list-line, .admin-new-sell-orders-list-line, .admin-new-withdrawals-list-line{
    font-size: 0;
    display: inline-block;
    padding: 5px;
    text-align: left;
    display: inline-block;
    overflow: hidden;
    
    display: inline-block;
    width: 100%;
    
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);

    background: linear-gradient(135deg,  rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0.4) 100%);

    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}


.admin-new-transactions-list-line-item, .admin-new-sell-orders-list-line-item, .admin-new-withdrawals-list-line-item{
    font-weight: 500;
    font-size: 12px;
    width: 11%;
    text-align: center;
    color: rgba(0, 0, 0, 0.75);
}

.admin-new-sell-orders-list-line-item{
    width: 25%;
}

.admin-new-withdrawals-list-line-item{
    width: 10%;
}

.admin-profile-page-items-wrapper-2{
    margin-top: 0;
}

.admin-citizen-clv-line{
    padding: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    width: 100%;
}

.admin-citizen-clv-line-item{
    width: 19%;
}


.admin-citizen-clv-line-item i{
    cursor: pointer;
    padding-right: 10px;
} 

.admin-clv-delete-button{
    margin-bottom: 5px;
    font-size: 22px;
    text-align: center;
    border: none;
    background: none;
}